<!DOCTYPE html>
<html>
  <head>
    <title>Authtest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
    This is our 99 Cats site. Please feel free to browse!

    <%= yield :footer %>
  </footer>
  
</html>
